<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="save-location">true</entry>
<entry key="location-y">378</entry>
<entry key="location-x">1197</entry>
<entry key="ip-address">127.0.0.1</entry>
</properties>
